In [1]:
import pandas as pd
import numpy as np

#### Question 1
What's the version of Pandas that you installed?

In [2]:
pd.__version__

'1.5.0'

#### Question 2
How many columns are in the dataset?

In [3]:
df = pd.read_csv('master_housing.csv')
df.shape

(20640, 10)

#### Question 3
Which columns in the dataset have missing values?

In [4]:
df.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

#### Question 4
How many unique values does the ocean_proximity column have?

In [5]:
df.ocean_proximity.nunique()

5

#### Question 5
What's the average value of the median_house_value for the houses located near the bay?

In [6]:
df.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
16268,-121.24,37.96,29.0,874.0,217.0,788.0,222.0,1.9187,57700.0,INLAND
11822,-121.07,38.94,14.0,1710.0,294.0,839.0,297.0,4.7143,150700.0,INLAND
9215,-120.27,37.11,18.0,1277.0,234.0,674.0,238.0,2.6694,75900.0,INLAND
14400,-117.28,32.75,34.0,981.0,313.0,508.0,304.0,2.2328,266700.0,NEAR OCEAN
12326,-116.52,33.97,13.0,3921.0,754.0,1902.0,665.0,3.3616,89600.0,INLAND

In [7]:
df[['ocean_proximity', 'median_house_value']].groupby('ocean_proximity').mean()

                 median_house_value
ocean_proximity
<1H OCEAN             240084.285464
INLAND                124805.392001
ISLAND                380440.000000
NEAR BAY              259212.311790
NEAR OCEAN            249433.977427

#### Question 6
<li>Calculate the average of total_bedrooms column in the dataset.</li>
<li>Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step.</li>
<li>Now, calculate the average of total_bedrooms again.</li>
<li>Has it changed?</li>

In [8]:
df.total_bedrooms.mean()

537.8705525375618

In [9]:
df.total_bedrooms.fillna(df.total_bedrooms.mean(), inplace=True)
df.total_bedrooms.mean()

537.8705525375617

#### Question 7
<li>Select all the options located on islands.</li>
<li>Select only columns housing_median_age, total_rooms, total_bedrooms.</li>
<li>Get the underlying NumPy array. Let's call it X.</li>
<li>Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.</li>
<li>Compute the inverse of XTX.</li>
<li>Create an array y with values [950, 1300, 800, 1000, 1300].</li>
<li>Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.</li>
<li>What's the value of the last element of w?</li>

In [10]:
island = df[df['ocean_proximity'] == 'ISLAND'].copy()
X = island[['housing_median_age', 'total_rooms', 'total_bedrooms']].values
XTX = X.T.dot(X)
XTX_inv = np.linalg.inv(XTX)
y = np.array([950, 1300, 800, 1000, 1300])
w = XTX_inv.dot(X.T).dot(y)
w

array([23.12330961, -1.48124183,  5.69922946])